.m-background {
	.featured-image {
		position: relative;
		background-image:url(/content/media/images/feat-img-top.jpg);
		height:440px;
		.logo {
			position: absolute;
			width:226px;
			display:block;
			left: 50%;
			margin-left: -113px;
			top: 120px;
		}
	}

	&.the-cooks, 
	&.testimonials, 
	&.contact {
		padding:40px 0 60px 0;
		background-position: center center;
	}
	&.the-cooks {
		background-image:url(/content/media/images/the-cooks-background.jpg);
	}
	.the-cooks-info {
		min-height:700px;
		background:#ffffff;
	}
	&.testimonials {
		background-image:url(/content/media/images/testimonials-background.jpg);
		background-position:top center;
	}
	.testimonials-info {
		min-height:289px;
		background:#ffffff;
	}
	&.contact {
		background-image:url(/content/media/images/contact-background.jpg);
		padding:40px 0 0 0;
	}
	.contact-info {
		min-height:500px;
		background:#ffffff;
		margin-bottom:30px;
	}
	background-size:cover;
	width:100%;

}
