.l-container {
	width:764px;
	margin:0px auto;
}

.l-navigation-horisontal{
	ul {
		list-style:none;
		display:table;
		margin:0px auto;
	}
	li {
		float:left;
		margin:0 0 0 30px;
	}
	a {
		font-family: $primaryFont;
		font-weight:bold;
		color:#ffffff;
		text-transform: uppercase;
		font-size:12px;
		letter-spacing:3px;
	}

	> ul {
		> li {
			line-height:43px;
		}
	}
}