.l-container {
	width:764px;
	margin:0px auto;
}

.l-navigation-horisontal{
	ul {
		list-style:none;
		display:table;
		margin:0px auto;
	}
	li {
		float:left;
		margin:0 0 0 25px;
	}
	a {
		font-family: $primaryFont;
		font-style:none;
		color:#ffffff;
		text-transform: uppercase;
		font-size:16px;
	}

	> ul {
		> li {
			line-height:50px;
		}
	}
}