@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/partials/_typography.scss */
body {
  font-family: arial;
}

/* line 9, ../sass/partials/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  margin: 0 0 .250em;
  line-height: 1em;
}

/* line 16, ../sass/partials/_typography.scss */
h1 {
  font-size: 60px;
  letter-spacing: 14px;
}

/* line 21, ../sass/partials/_typography.scss */
h2 {
  letter-spacing: 5px;
  font-size: 50px;
}

/* line 26, ../sass/partials/_typography.scss */
h3 {
  font-size: 40px;
}

/* line 30, ../sass/partials/_typography.scss */
h4 {
  font-size: 30px;
}

/* line 34, ../sass/partials/_typography.scss */
h5 {
  font-size: 20px;
}

/* line 38, ../sass/partials/_typography.scss */
h6 {
  font-size: 16px;
}

/* line 42, ../sass/partials/_typography.scss */
p {
  color: #000;
  font-size: 1em;
  line-height: 1em;
}

/* line 48, ../sass/partials/_typography.scss */
.text-center {
  text-align: center;
}

/* line 1, ../sass/_base.scss */
body {
  font: 14px/18px Helvetica, Arial, sans-serif;
}

/* line 5, ../sass/_base.scss */
a {
  text-decoration: none;
  color: #ffffff;
}
/* line 8, ../sass/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, ../sass/_layout.scss */
.l-container {
  width: 764px;
  margin: 0px auto;
}

/* line 6, ../sass/_layout.scss */
.l-innercontainer {
  display: table;
  width: 100%;
  padding: 30px 0 0;
}

/* line 12, ../sass/_layout.scss */
.l-navigation-horizontal {
  display: table;
  margin: 0px auto;
}
/* line 16, ../sass/_layout.scss */
.l-navigation-horizontal a {
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 22, ../sass/_layout.scss */
.l-navigation-horizontal li {
  float: left;
  margin: 0 15px;
}
/* line 26, ../sass/_layout.scss */
.l-navigation-horizontal a {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 3px;
}
/* line 32, ../sass/_layout.scss */
.l-navigation-horizontal a:hover,
.l-navigation-horizontal a .current {
  text-decoration: none;
  color: red;
}
/* line 39, ../sass/_layout.scss */
.l-navigation-horizontal > ul > li {
  line-height: 43px;
}

/* line 46, ../sass/_layout.scss */
.l-footer li {
  margin: 0 10px;
  line-height: 30px;
}
/* line 51, ../sass/_layout.scss */
.l-footer a {
  font-size: 16px;
  letter-spacing: 4px;
  border-right: 1px solid;
  padding-right: 15px;
  color: #000;
}
/* line 59, ../sass/_layout.scss */
.l-footer li:last-child a {
  border-right: none;
}

/* line 1, ../sass/partials/_footer.scss */
.site-footer {
  background: #ffffff;
  padding: 6px 0 0 0;
}

/* line 1, ../sass/partials/_header.scss */
.site-header {
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 100;
}
/* line 8, ../sass/partials/_header.scss */
.site-header .l-navigation-horizontal > li {
  line-height: 48px;
}

/* line 1, ../sass/modules/_blocks.scss */
.m-block {
  margin-bottom: 30px;
}
/* line 4, ../sass/modules/_blocks.scss */
.m-block.last {
  margin-bottom: 0;
}

/* line 2, ../sass/modules/_gallery.scss */
.m-gallery h1 {
  text-align: center;
}

/* line 1, ../sass/modules/_images.scss */
.m-background {
  background-size: cover;
  width: 100%;
}
/* line 2, ../sass/modules/_images.scss */
.m-background .featured-image {
  position: relative;
  background-image: url(/content/media/images/feat-img-top.jpg);
  height: 440px;
}
/* line 6, ../sass/modules/_images.scss */
.m-background .featured-image .logo {
  position: absolute;
  width: 226px;
  display: block;
  left: 50%;
  margin-left: -113px;
  top: 120px;
}
/* line 18, ../sass/modules/_images.scss */
.m-background.the-cooks, .m-background.testimonials, .m-background.contact {
  padding: 40px 0 60px 0;
  background-position: center center;
}
/* line 22, ../sass/modules/_images.scss */
.m-background.the-cooks {
  background-image: url(/content/media/images/the-cooks-background.jpg);
}
/* line 25, ../sass/modules/_images.scss */
.m-background .the-cooks-info {
  min-height: 700px;
  background: #ffffff;
}
/* line 29, ../sass/modules/_images.scss */
.m-background.testimonials {
  background-image: url(/content/media/images/testimonials-background.jpg);
  background-position: top center;
}
/* line 33, ../sass/modules/_images.scss */
.m-background .testimonials-info {
  min-height: 289px;
  background: #ffffff;
}
/* line 37, ../sass/modules/_images.scss */
.m-background.contact {
  background-image: url(/content/media/images/contact-background.jpg);
  padding: 40px 0 0 0;
}
/* line 41, ../sass/modules/_images.scss */
.m-background .contact-info {
  min-height: 500px;
  background: #ffffff;
  margin-bottom: 30px;
}

/* line 1, ../sass/modules/_content.scss */
.entry-title {
  margin: 0 0 30px 0;
}

/* line 7, ../sass/modules/_content.scss */
.m-featured-events a:hover img {
  opacity: 0.6;
}
/* line 11, ../sass/modules/_content.scss */
.m-featured-events li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}
/* line 16, ../sass/modules/_content.scss */
.m-featured-events span {
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 7px;
}
/* line 23, ../sass/modules/_content.scss */
.m-featured-events h2 {
  line-height: 138px;
}
/* line 27, ../sass/modules/_content.scss */
.m-featured-events .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  text-align: center;
  padding: 0px 0;
}
/* line 38, ../sass/modules/_content.scss */
.m-featured-events .image {
  position: relative;
  z-index: 20;
}

/* line 44, ../sass/modules/_content.scss */
.m-press-box {
  height: 450px;
  background: #ffffff;
  border: 1px solid;
  margin-bottom: 30px;
}
